/*! CSS Used from: Embedded ; media=screen */
@media screen {
  .menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 0px;
  }
  .menu-arrow {
    border-color: transparent transparent rgb(68, 83, 113);
  }
  .menu-content {
    list-style-image: initial;
    color: rgb(216, 213, 208);
    background-image: initial;
    background-color: rgb(35, 38, 39);
    border-top-color: rgb(68, 83, 113);
  }
  .menu-header {
    text-decoration-color: initial;
    color: rgb(131, 155, 181);
    border-bottom-color: rgb(62, 67, 70);
    background-image: linear-gradient(0deg, rgb(37, 40, 41), rgb(36, 39, 40));
    background-color: initial;
  }
  .menu-row.menu-row--separated + .menu-row {
    border-top-color: rgb(62, 67, 70);
  }
  .menu-row.menu-row--clickable:hover {
    background-image: initial;
    background-color: rgb(37, 40, 41);
  }
  .menu-footer {
    color: rgb(178, 172, 162);
    border-top-color: rgb(62, 67, 70);
    background-image: linear-gradient(rgb(40, 43, 44), rgb(37, 40, 42));
    background-color: initial;
  }
  .avatar img {
    background-color: rgb(35, 38, 39);
  }
  .avatar:hover {
    text-decoration-color: initial;
  }
  .contentRow-minor {
    color: rgb(163, 155, 142);
  }
  .label {
    border-color: transparent;
    text-decoration-color: initial;
  }
  .label:hover,
  a:hover .label {
    text-decoration-color: initial;
  }
  .label.label--primary {
    color: rgb(141, 184, 223);
    background-image: initial;
    background-color: rgb(37, 40, 41);
    border-color: rgb(54, 72, 103);
  }
  a:hover .label.label--primary {
    background-image: initial;
    background-color: rgb(42, 46, 48);
    border-color: rgb(57, 75, 107);
  }
  .label.label--accent {
    color: rgb(255, 117, 26);
    background-image: initial;
    background-color: rgb(82, 32, 0);
    border-color: rgb(137, 55, 0);
  }
  a:hover .label.label--accent {
    background-image: initial;
    background-color: rgb(94, 37, 0);
    border-color: rgb(143, 57, 0);
  }
  // .alert.is-unread {
  //   color: rgb(216, 213, 208);
  //   background-image: initial;
  //   background-color: rgb(37, 40, 41);
  // }
}

/*! CSS Used from: Embedded ; media=screen */
@media screen {
  .js-alertsMenuBody .alert.is-unread,
  .alert-list .alert.is-unread {
    color: rgb(216, 213, 208);
    background-image: initial;
    background-color: black;
  }
  .js-alertsMenuBody .alert.is-read,
  .alert-list .alert.is-read {
    color: rgb(216, 213, 208);
    background-image: initial;
    background-color: rgb(40, 43, 44);
  }
  .js-alertsMenuBody .alert.is-recently-read,
  .alert-list .alert.is-recently-read {
    color: rgb(216, 213, 208);
    background-image: initial;
    background-color: rgb(40, 43, 44);
  }
}
