/* ==UserStyle==
@name           voz.vn - typography
@namespace      github.com/nmtrung/stylus
@version        1.0.3
@author         nmtrung
==/UserStyle== */

@-moz-document domain("voz.vn") {
  body,
  .message-body,
  .fr-box.fr-basic .fr-element,
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .message-responses {
    font-size: 1rem;
  }

  .structItem-title {
    font-size: 1.05rem;
  }

  .p-breadcrumbs > li {
    font-size: 0.95rem;
  }

  .bbCodeBlock.bbCodeBlock--quote .bbCodeBlock-content,
  .bbCodeBlock-title {
    font-size: 0.925rem;
  }

  .message-attribution,
  .message-userTitle,
  .structItem-minor,
  .reactionsBar {
    font-size: 0.8rem;
  }

  .bbImageWrapper > .bbImage {
    max-width: 1024px;
  }
}
